<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Freddy</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/styles/response.css">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('favicon', filename='logo.png') }}">
</head>
<body>
    <nav class="navbar justify-content-between px-5">
        <a class="navbar-brand">
            <img src="/static/images/logo.png" width="35" height="35" alt="" style="margin-right: 5px;">
            <span>Freddy</span>
        </a>
        <span class="navbar-text">
            <img src="/static/images/profile.png" width="30" height="28" class="d-inline-block align-top" alt="" style="margin-right: 5px;">
            {{user}}
        </span>
    </nav>
    <div class="container-fluid p-3 mb-2">
        <h1 class="display-4 text-center">Freddy</h1>
        <div class="text-center mb-3">
            <button id="startRecording" class="btn btn-lg">Start Recording</button>
            <button id="stopRecording" class="btn btn-lg" disabled>Stop Recording</button>
        </div>
        <div class="loading" id="loader">
            <img src="/static/images/loading.avif" alt="Loading...">
            <h6>Getting response for you</h6>
        </div>
        <div class="container text-center" id="conversation-container">
            <div class="card mx-auto mb-3">
              <div class="card-body">
                <h5 class="card-title">Conversation</h5>
                <p class="card-text"><strong>User</strong> <br> <span id="user-query" class="text-info"></span></p>
                <p class="card-text"><strong>Freddy</strong> <br> <span id="llm-response" class="text-info"></span></p>
              </div>
            </div>
        </div>                  
    </div>
    <script src="static/scripts/response.js">
    </script>
</body>
</html>